.nav {
  margin: 0;
  background: #e77562;

  &__content {
    display: flex;
    justify-content: space-between;
    color: white;

    &-box {
      margin: 1.5rem;
      display: flex;

      &-link {
        margin-left: 1rem;
        color: white;
      }
    }
  }
}
