
<nav class="nav">
  <div class="container">
    <div class="nav__content">
      <h1 class="nav__content-title">Ember Demo</h1>
      <div class="nav__content-box">
        <h3 class="nav__content-box-link">Page 1</h3>
        <h3 class="nav__content-box-link">Page 2</h3>
        <h3 class="nav__content-box-link">Page 3</h3>
      </div>
    </div>
  </div>
</nav>
{{outlet}}
after
