
<nav class="nav">
  <div class="container">
    <div class="nav__content">
      {{#link-to "index" class="nav__content-box-link"}}<h1>Ember Demo</h1>{{/link-to}}
      <div class="nav__content-box">
        {{#link-to "about" class="nav__content-box-link"}}About{{/link-to}}
        {{#link-to "contact" class="nav__content-box-link"}}Contact{{/link-to}}
        {{#link-to "sidebar" class="nav__content-box-link"}}Sidebar{{/link-to}}
      </div>
    </div>
  </div>
</nav>
{{outlet}}
